.view-contain { 
	display: grid; 
	grid-template-columns: 300px 1fr; 
	grid-template-rows: 1fr; 
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height: 100%;
	overflow-y: scroll;
}

.sidebar {
	background-color: #111;
	height: 100%;
	margin-bottom: 0;
	grid-area: 1 / 1 / 2 / 2;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 15px 15px 35px 15px;
	box-sizing: border-box;
	
	overflow-y: scroll;
} 

.main-view { grid-area: 1 / 2 / 2 / 3; }

body {
	height: 100%;
	color: white;
	font-family: ui-sans-serif, sans-serif;
}

html {
	height: 100%;
}

h1 {
	text-align: center;
	font-size: 1.5rem;
}

h2 {
	text-align: center;
	font-size: 1rem;
	font-weight: normal;
}

a {
	color: inherit;
}

.sidebar p {
	width: 100%;
	text-align: left;
}

.deck-tooltip {
	left: 300px !important;	
}

.legend {
	width: 60%;
}

.legend-entry {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-end;
	text-align: center;
	font-weight: bold;
}

.label-legend {
	width: 75%;
	height: 100%;
	padding: 7px;
	background-color: rgba(0,0,0,0.6);
}

#modal {
	background-color: white;
	border-radius: 7px;
	border: 1px solid #ddd;
	color: black;
	font-size: 1.2rem;
	font-weight: bolder;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%), translateY(-50%);
	z-index: 1000;
	padding: 20px;
	
}

/* @media only screen and (max-width: 632px) {
	.view-contain { 
		grid-template-columns: 1fr;
		grid-template-rows: 60% 1fr;
		height: auto;
		overflow-y: auto;
	}
	.main-view { 
		grid-area: 1 / 1 / 2 / 2;
		overflow: hidden;
	} 
	.main-view canvas {
		width: 100%;
		height: 100%;
		bottom: 0px;
		position: static;
	}
	.sidebar {
		grid-area: 2 / 1 / 3 / 2;
		height: auto;
	} 
	.deck-tooltip {
		left: 0px !important;	
	}
	
} */